body{
    background-image:radial-gradient(pink, #eece9e)
}

 .fondo{
   width: 100% ; 
   top: 0%
}
.titulo{
    color: #e6859f;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -140%);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 900%;
    margin-top: 0px;
    margin-bottom: 0%;
}

.autor{
    color: #fff4c0;
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(85%, 500%);
    text-align: center;
    font-family: 'Philosopher', sans-serif;
    font-size: 300%;
    margin-top: 0px;
    margin-bottom: 0%;
}
a{
    color: #84736f;
    font-family: 'Philosopher', sans-serif;
    text-decoration:none;
    padding: 30px;
}

.menu{
    color:#84736f;
    top: 50%;
    left: 50%;
    border: 20%;
    display: flex;
    justify-content: center;
    font-size: 170%;
    background-image: linear-gradient(#eece9e, pink)
}

.axolote1 {
    width: 30%;
    margin: 0px 0px 0px;
    transform: translate(180%, -110%);
    display: flex;
    padding: 20px ;
}

.axolote2 {
    position: absolute;
    width: 200px;
    transform: translate(300%, 10%);
    display: flex;
    padding: 0px;
}

.axolote3{
    width: 50%;
    transform: translate(60%, 0%);
}

p{
    color: #d76483;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px
}

.comida{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}

.enfermedades{
    margin-left: 40px;
    margin-right: 40px;
    font-size: 30px;
}


h3{
    color: #d76483;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 50px;
    text-align: center;
}

li{
    color: #84736f;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.textomitologia{
    color: #84736f;
    margin-top: 0%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.textoanatomia {
    color: #84736f;
    margin: 0%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.textoconservacion{
    color: #84736f;
    margin-top: 0%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.leermas{
    font-size: 100%;
    color: #d76483;
    text-decoration:dotted;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h1{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    color: #d76483;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
}

.bebe{
    color: #84736f;
    margin-top: 0%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-left: 500px;
}

.adulto{
    color: #84736f;
    margin-top: 0%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

.años{
    color: #84736f;
    margin-top: 0%;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    font-size: 20px;
}

.pregunta{
    font-size: 30px;
    text-align: justify;
    margin-left: 540px;
}
/*
selector {
    propiedad : valor*/

    flex-direction:colum
